@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noir Pro';
  src: url('../src/assets/font/NoirPro-Medium.otf') format('opentype');
}

html,
body {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Noir Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.camara-video-frame {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* min-height: 100svh;
  max-height: 100svh; */
  transform: scaleX(-1);
  border: 5px solid #FFFFFF
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.animate-pulse {
  animation: pulse 2s infinite;
}

.splash-screen-background-image {
  background: url(../src/assets/svg/splash_screen_background_image-min.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100svh;
  max-height: 100svh;
}

.splash-screen-title {
  font-family: "Noir Pro";
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 1.13px 1.13px 0px #00000040;
}

.splash-screen-desc {
  font-family: "Noir Pro";
  font-weight: 700;
  font-size: 58px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}

.splash-screen-huddle-up-text {
  font-family: "Noir Pro";
  font-weight: 700;
  font-size: 35.47px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0.93px 0.93px 0px #00000040;
  margin-bottom: 5px;
}

.splash-screen-take-photo-text {
  font-family: "Noir Pro";
  font-weight: 500;
  font-size: 20.69px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: -1.48px 1.48px #003B7A;

}

.splash-screen-tap-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(94.69deg, #D8B551 0%, #F0DB9E 100%, #D8B551 100%);
  font-family: "Noir Pro";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #001848;
  padding: 13px 33px;
}

/* Start of the scrollbar style css */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #006CB7 0%, #013B7A 84.21%);
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF66;
  border-radius: 35px;
}

/* End of the scrollbar style css */

.gradient-border {
  @apply border-2 border-transparent relative;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-image-source: linear-gradient(225deg, #B79365 50%, #F8D495 59.5%, #FFFBBC 65.5%, #FFFFEC 70%, #FFFBBC 75%, #F8D495 80%, #A7855B 90%);
  border-image-slice: 1;
  border-radius: inherit;
}

.blur-bg {
  position: relative;
  z-index: 9999;
}

.demo {
  content: '';
  width: 100svw;
  height: 100svh;
  background-color: #006CB7;
  position: absolute;
  z-index: 999;
  opacity: 0.40;
}

.text-shadow {
  text-shadow: -2.25px 2.25px #003B7A;
}

.player-name {
  font-family: "Noir Pro";
  font-weight: 500;
  font-size: 13.5px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}

/* splash screen start btn */
.animatedButton {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  animation: pulse 2s infinite alternate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noir Pro";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #001848;
  padding: 13px 33px;
}

.gradientBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #D8B551 0%, #F0DB9E 100%, #D8B551 100%);
  z-index: -2;
  animation: gradientShift 8s infinite alternate;
}

.ripple1,
.ripple2,
.ripple3 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 70px;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4), transparent);
  z-index: -1;
}

.ripple1 {
  animation: ripple 3s infinite linear;
}

.ripple2 {
  animation: ripple 3s infinite linear 1s;
}

.ripple3 {
  animation: ripple 3s infinite linear 2s;
}

.buttonText {
  position: relative;
  z-index: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    left: -100px;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animatedButton:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.animatedButton:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.player-selection-cancel-button {
  @apply gradient-border;
  font-family: "Noir Pro";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  width: 100%;
}

.retake-btn {
  font-family: "Noir Pro";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.13rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  text-shadow: 1.73px 1.73px #00000040;
}

.small_stars {
  animation: zoomIn;
  animation-duration: 0.5s;
}

.big-star {
  animation: zoomIn;
  animation-duration: 0.5s;
}

.player-selection-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  z-index: 99;
  background-color: #0164AE;
}

.player-selection-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #013B7A;
  z-index: 99;
}

.player-selection-body {
  /* max-height: calc(100% - 200px); */
  max-height: 100%;
  box-sizing: border-box;
  padding-top: 120px;
  padding-bottom: 120px;
}

.selfie-background {
  background: url(../src/assets/svg/splash_screen_background_image-min.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.player-imgs {
  max-width: 40vw;
}